body {
    margin: 0 20% 0 20%;
    background-image: url(img/inca-fondo-1.png)
}

h1 {
    text-align: center;
    background-color: rgb(153, 204, 255);
    margin: 2% 25% 2% 25%;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.right {
    margin-right: 59%;
    background-color: palegreen;
}

.wrong {
    margin-right: 59%;
    background: salmon;
}

img {    
    height: 200px;
}

button {
    text-decoration: none;
}

button:hover {
    background: #2079b0;
    background-image: -webkit-linear-gradient(top, rgb(255, 255, 102), rgb(179, 255, 102));
    background-image: -moz-linear-gradient(top, rgb(255, 255, 102), rgb(179, 255, 102));
    background-image: -ms-linear-gradient(top, rgb(255, 255, 102), rgb(179, 255, 102));
    background-image: -o-linear-gradient(top, rgb(255, 255, 102), rgb(179, 255, 102));
    background-image: linear-gradient(to bottom, rgb(255, 255, 102), rgb(179, 255, 102));
    text-decoration: none;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    background-color: rgb(204, 255, 204);
    padding-bottom: 20px;
}  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.card-img {
    display: inline-block;
    margin: 15px 100px 5px 100px;  
    width: 600px; 
    height: 300px;
    
    margin-top: 20px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}  
.container {
    padding: 2px 16px;
}

.introducción {
    text-align: center;
    margin: 12px 12px;
}

.btnIniciar {
    height:20px; 
    width:200px; 
    margin: -20px -100px; 
    position:relative;
    top:100%; 
    left:50%;
  -webkit-border-radius: 28px;
  -moz-border-radius: 28px;
  border-radius: 28px;    
}

.iniciar {
    display: none;
    background-color: rgb(255, 210, 77);
    padding: 5px 40px 20px 40px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.answer {
    font-style: oblique;
}
.answer-btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    background-color: rgb(144, 238, 144);
}

#NextQ {
    background-color: #5cd65c;
}

